/*herramientas
Color-lab: #f7b617
Color gris (footer): #2b2b2b 
*/

/*--------------    NAVBAR*/
*{
  background-size: cover;
  margin: 0;
}

.navbar-inverse {   /*fondo*/
  background-color: #fff;
  border-color: #fff;
  position:fixed;
  width:100%;
  height: 20%;
  box-sizing: border-box;
}


.navbar-brand>img{  /*logo*/
  margin-top: 25px;
  margin-left: 125px;
}
/*.... viaja, conduce , inicia ..*/
.navbar-nav {
    padding: 30px;
    margin-top: 10px;
}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form { /*.... viaja, conduce , inicia ..*/
  margin-top: 25px;
}

/*hamburguesa*/
body { 
  
  padding-top: 80px; 

}

/*-----------------------------------SECTION_FIRST*/

.first-section {
  background-image: url(../docs/img/taxi.jpg);
  background-repeat: no-repeat;        
  background-position:center center;
  background-size: fixed;
  width: 100%;            
  height: 2000px;       
  margin-top:-1180px;      


}

.caja {

  width: 473px;
  height:380px;
  background: #f7b617;
  position: absolute;
  margin-top: 1437px;
  margin-left: 566px;
}

/*--------------------------------SECTION-TWO*/
.section-two{
  background: #f7b617;
  width: 100%;
  height: 490px;
  margin-top: -110px;
}

.reverse {
  border: 1px solid #FFF;
  margin-top: 38px;
  margin-left: -100px;
}

.imgcelular{
  padding-left: -100px;
}


.celular{
  margin-left: 20px;
  width: 270px;
  height: 400px;
}

/*---TITULOS Y PARRAFOS DE LA SECCION 2*/

.info {
  margin-left: : -100px;
  padding-left: 180px;
  line-height: right;
}


.title1{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;

}

.info1{
  color: #FFF;
  font-size: 20px;
  padding: 10px; 
   
}

.info2 {
  color: #FFF;
  font-size: 20px;
  padding: 10px; 
   
}

/*-------------------SECTION-THREE-----------*/

.three-section {
  background: url(../docs/img/conduce.jpg);
  background-size: cover;
  background-position:center center;
  width: 330vh;
  height: 87vh;
}

.caja3{
margin: 30px 0px 30px 0px;  
padding: 10px;
background: rgba(0,0,0,0.5);
width: 500px;
height: 583px;
margin-top: 0px;
}


.Conduceinfo {
  font-size: 20px;
  color:#FFF;
  margin-top: 200px;

}

.LabCar1 {
  font-size: 20px;
  color:#FFF;
}

/*----------------------------SECTION-FIVE*/

.section-four{
  background: #f7b617;
  width: 100%;
  height: 500px;
}

h5{
  font-size: 35px;
  color:#FFF;
  font-weight: bold;
  margin-top: 120px;
}

.info4{
  font-size: 16px;
  color:#FFF;
  

}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: 9px;
    width: 300px;
    height: 40px;
}



/*---------------------------FOOTEERS*/

.section-footer {
  background: #2b2b2b;

}
.logoblanco {
  margin-top: 55px;
}

.redes-sociales{
  color: white;
}


